.booking-title {
  font-family: Open-sans, sans-serif;
  color: black;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.booking-text-color {
  font-family: Open-sans, sans-serif;
  color: #f24537;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
}

.booking-text-black {
  font-family: Open-sans, sans-serif;
  color: black;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
}

.booking-subtitle {
  font-family: Open-sans, sans-serif;
  color: black;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

