.cover_img {
    width: 200%;
    background-image: white;
};

.icons {
    padding-top: 20px;
};

#avatar {
   
    height: 50px;
    width: 50px;
    border-radius: 50%;
    }


.flat-image-banner img{
	width: 70%;
	vertical-align: middle;
	height: 300px;
}

.banner {
  color: white;
  text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */ 
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.row_icons {
    padding-top: 60px;
}

.fa{
  color:#B49070;
}

#pic_detail_line {
  display: inline;
}

 .bs-example{
      margin: 20px;
    }