.cover_img {
    width: 200%;
    background-image: white;

};

.icons {
    padding-top: 20px;


};

#avatar {
   
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
    }

#avatar_row {
    // display: table;
    // table-layout: fixed;
   
    
   
}

#avatar_column {
    // display:table-cell;
    // vertical-align:middle;
    // text-align:center;
}

.flat-image-banner img{
	width: 70%;
	vertical-align: middle;
	height: 300px;
}