/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  background: url(image_path("img-landing.jpg"));
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-title {
  flex:1;
  margin-top: 7em;
}

.searchform {
  flex:2;
  margin-top: 12em;
}

.banner h1 {
  font-family: Raleway, Helvetica, sans-serif;
  color: white;
  font-size: 55px;
  font-weight: bold;
}

.banner h2 {
  font-family: Raleway, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 50px;
}

.img-landing {
  background-image: cover;
  background-position: top;
}

body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}

.card-title {
  font-family: Raleway, Helvetica, sans-serif;
  color: black;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.card-subtitle {
  font-family: Open-sans, sans-serif;
  color: #f24537;
  font-size: 30px;
  text-align: center;
}


// #home-search {
//   margin-top: 0px; // to correct bootstrap standard format

