<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @flat_coordinates %>;
      alert('Flat coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>

<p>TEST</p>

<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=400x400&
markers=color:blue%7Clabel:HH%7C#{@flat.latitude},#{@flat.longitude}&key=AIzaSyD3H1FlStGILoB7y9L8dPEXfm3pZsSNMB4" %>

