<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @flat_coordinates %>;
      alert('Flat coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>

<p>TEST</p>

<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=400x400&
markers=color:blue%7Clabel:HH%7C40.718217,-73.998284&key=AIzaSyD3H1FlStGILoB7y9L8dPEXfm3pZsSNMB4"%>

