
    <!-- Code your banner HTML here -->
    <div class="banner">
      <div>
        <h1>Welcome to the hut hunter</h1>
        <p>Find your dream holiday hut</p>
        <a href="" class="btn-landing">Adventure starts here!</a>
      </div>
    </div>
