    <!-- Code your banner HTML here -->
    <div class="banner">
      <div class="home-title">
        <h1>Welcome to Hut Hunters</h1>
        <h2>Experiment big things in small things</h2>
      </div>

      <div class="searchform">
        <%= render "searchform" %>
      </div>
    </div>

<div class="container"><br>
    <p class="card-title">Explore the world</p>
    <p class="card-subtitle">Discover amazing huts</p><br>
</div>

<div class="container">

  <% @flats.each do |flat| %>

    <div class="col-xs-12 col-sm-6 col-md-6 card" style="background-image: url(<%= asset_path 'hut2.jpg' %>)" >
      <div class="card-description">
        <h2><%= flat.title %></h2>
        <p><%= flat.city %></p>
      </div>
    </div>

  <% end %>

</div>







