.btn-landing {
 background: #f70f0f ;
 background-image: -webkit-linear-gradient(top, #f70f0f , #fff308 );
 background-image: -moz-linear-gradient(top, #f70f0f , #fff308 );
 background-image: -ms-linear-gradient(top, #f70f0f , #fff308 );
 background-image: -o-linear-gradient(top, #f70f0f , #fff308 );
 background-image: linear-gradient(to bottom, #f70f0f , #fff308 );
 -webkit-border-radius: 28;
 -moz-border-radius: 28;
 border-radius: 28px;
 font-family: Arial;
 color: #ffffff ;
 font-size: 20px;
 padding: 20px 20px 20px 20px;
 text-decoration: none;
}

.btn-landing:hover {
 background: #fff308 ;
 color: black;
 text-decoration: none;
}
