// .card {
//   height: 175px;
//   text-shadow: 0 1px 3px rgba(0,0,0,0.6);
//   background-size: cover !important;
//   color: white;
//   position: relative;


.card-margin {
  margin-bottom: 20px;
}

.img-radius {
  border-radius: 20px;
}

.text-center {
  text-align: center;
}

.card-title {
  font-family: Raleway, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  position:relative;
  top:-40px;
  margin-bottom:-40px
}

